@import "tailwindcss";


@theme {

  /* =====================
     COLORS
     ===================== */

  --color-background: #09090b;

  --color-surface: #18181b;
  --color-surface-light: #27272a;

  --color-border: #27272a;
  --color-border-light: #3f3f46;


  --color-primary: #22c55e;
  --color-primary-hover: #16a34a;


  --color-danger: #ef4444;
  --color-warning: #eab308;
  --color-info: #3b82f6;


  --color-text: #ffffff;
  --color-text-secondary: #a1a1aa;
  --color-text-muted: #71717a;



  /* =====================
     SPACING
     ===================== */

  --spacing-page: 20px;
  --spacing-section: 32px;
  --spacing-card: 24px;



  /* =====================
     RADIUS
     ===================== */

  --radius-card: 16px;
  --radius-button: 12px;
  --radius-input: 12px;
  --radius-pill: 9999px;



  /* =====================
     SHADOWS
     ===================== */

  --shadow-card:
    0 10px 20px rgba(0,0,0,0.25);



  /* =====================
     FONTS
     ===================== */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}




/* =====================
   GLOBAL
   ===================== */


:root {
  color-scheme: dark;
}


body {

  background: var(--color-background);

  color: var(--color-text);

  font-family: var(--font-sans);

}

@layer utilities {
  /* Širina scrollbara */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Tanak i moderan */
  }

  /* Pozadina trake po kojoj klizi (track) */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 8px;
  }

  /* Sam klizač (thumb) */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-border rounded-full transition-colors;
  }

  /* Klizač kada se pređe mišem preko njega (hover) */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-text-secondary; 
  }
}